<div id="page_wrapper">
  <h1>Login</h1>

  <%= form_for :session, url: '/sessions' do |f| %>
    <p>
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </p>
    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.submit "Submit" %>
    </p>
  <% end %>
</div>
