<div id="page_wrapper">
  <h1>Login</h1>

  <div class="forms">
    <%= form_for :session, url: '/login' do |f| %>
      <p>
        <%= f.label :email %><br>
        <%= f.email_field :email %>
      </p>
      <p>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.submit "Submit" %>
      </p>
    <% end %>
  </div>
</div>


